<div class="property-container">
  <div>
    <h1 class="property-show-h1">Votre propriété en détails</h1>
  </div>
  <div class="d-flex m-5">
    <!-- carte -->
    <div style="width: 50%; m-20; height: 850px;">

      <!-- Map -->
      <div id="home-map" style="width: 100%; height: 100%; border-radius: 10px;"
           data-controller="map"
           data-map-markers-value="<%= @markers.to_json %>"
           data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>

    <!-- Formulaire des propriétés -->
    <div class="dashboard-property-box ms-4 mb-5">
      <h3 class="property-show-address"><%= @property.address %></h3>
      <div class="property-info-container">
        <div class="info-box" style="background-color: #DCFFF3">
          <p>Surface terrain</p> <%= number_with_precision(@property.area_sqm_land, precision: 0, delimiter: ',') %> m²
        </div>
        <div class="info-box" style="background-color: #DCFFF3">
          <p>Nombre d'étages</p> <%= @property.building_height_floors %>
        </div>
        <div class="info-box" style="background-color: #DCFFF3">
          <p>Nombre de pièces par logement</p> <%= @property.nb_rooms_per_dwelling %>
        </div>
        <div class="info-box" style="background-color: #DCFFF3">
          <p>Classe énergétique</p> <%= @property.energy_class %>
        </div>
        <div class="info-box" style="background-color: #DCFFF3">
          <p>Coefficient d'occupation des sols</p> <%= @property.floor_area_ratio %>
        </div>
        <div class="info-box" style="background-color: #DCFFF3">
          <p>Nombre de logements</p> <%= @property.nb_dwelling %>
        </div>
        <div class="info-box" style="background-color: #DCFFF3">
          <p>Zone de densité</p> <%= @property.density_area %>
        </div>
        <div class="last-info-box" style="background-color: #DCFFF3">
          <p>Zone à bâtir</p> <%= @property.building_zone %>
        </div>
        <div class="return-to-dash-button">
          <%= link_to 'Retourner au Tableau de bord', dashboard_path(current_user), class: "button-return"%>
        </div>
      </div>
    </div>
  </div>
</div>
