<div class="navbar navbar-expand-sm navbar-light navbar-lewagon shadow-sm">
  <div class="container-fluid">
    <div class="container text-center m-auto">
      <%= link_to root_path, class: "navbar-brand" do %>
          <h3 class="home-page-logo-h1">Immopoly</h3>
      <% end %>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active mr-2 mt-2">
            <p><strong><%= link_to current_user.first_name, "#", class: "nav-link" %></strong></p>
          </li>

          <li class="nav-item dropdown mt-3">
          <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa-solid fa-user-tie fa-2xl" style="color: #000000; "></i>
          </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Tableau de bord", dashboard_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
